body {
    background-color: azure;
}

.container {
    display: flex;
    justify-content: row;
}

#box1 {
    width: 50%;
    float: left;
    border-style: solid;
    border-width: 10px;
    border-color: green;
}

#box2 {
    width: 50%;
    float: right;
    border-style: solid;
    border-width: 10px;
    border-color: blue;
}